-- Dependencies
	-- otf-font-awesome
	-- ttf-mononoki
	-- ttf-ubuntu-font-family
	-- htop
	-- trayer

Config { 
    font = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true"
  , additionalFonts = ["xft:Mononoki:pixelsize=14:antialias=true:hinting=true"
		     , "xft:Font Awesome 6 Free Solid:pixelsize=15"
		     , "xft:Font Awesome 6 Brands:pixelsize=15"
 		      ]
  , bgColor       = "#282c34"
  , fgColor       = "#ff6c6b"
  , alpha         = 210
  , position      = TopSize C 100 29
  , lowerOnStart  = True
  , hideOnStart   = False
  , allDesktops   = True
  , persistent    = True
  , iconRoot      = "/home/yuvi/.xmonad/xpm/" --default: "."

  , sepChar       = "%"
  , alignSep      = "}{"

  , commands      = [
		Run Cpu ["-t", "<fn=2>\xf2db</fn> cpu: (<total>%) ","-H","50","--high","red"] 20 
	      , Run Memory ["-t", "<fn=2>\xf538</fn> mem: <used>M (<usedratio>%) "] 20
	      , Run DiskU [("/", "<fn=2>\xf0c7</fn> ssd: <free> free ")] [] 60
	      , Run DynNetwork [ "-t" , "<fn=2>\xf0ab</fn> <rx> kB/s <fn=2>\xf0aa</fn> <tx> kB/s "] 10
	      , Run Date "<fn=2>\xf017</fn> %b %d %Y - (%H:%M) " "date" 50
	      , Run MultiCoreTemp ["-t", "<fn=2>\xf2ca</fn> temp: <avg>°C "] 30
	      , Run Com "/home/yuvi/.config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 20
	      , Run UnsafeStdinReader
			
		    ]

  , template      = "<icon=Haskell_27.xpm/> %UnsafeStdinReader% }{<fc=#ecbe7b>%cpu%</fc> <fc=#b3afc2>%multicoretemp%</fc> <fc=#ff6c6b>%memory%</fc>  <fc=#51afef>%disku%</fc> <fc=#98be65>%dynnetwork%</fc> <fc=#46d9ff>%date%</fc> %trayerpad%"
